@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f4f8;
  --foreground: #1e293b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
